.writing-main-container
    margin: 0 10%
    padding-top: 30px
    display: flex

.column
    margin: 0px 12px
    height: 100vh
    flex: 1
    flex-shrink: 0

.c2
    display: flex
    flex-flow: row wrap
    align-items: flex-start

.box-tbd
    top: 200px

.shape1
    width: 100%
    aspect-ratio: 2 / 1

.shape2
    width: 46%
    aspect-ratio: 1 / 1
    flex: 1
    flex-shrink: 1
    flex-basis: auto


.shape3
    width: 50%
    aspect-ratio: 1 / 2


.card
    position: relative
    // width: 100%
    // height: 154px
    color: $blue1
    transition: 0.5s
    cursor: pointer
    margin: 0px
    display: flex
    

    &:hover
        transform: translateY(-5px)

    &::before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: $white
        border-radius: 1.2em
        z-index: 3
    
    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: $blue2
        filter: blur(10px)

    .piece-text
        position: relative
        padding: 10px
        z-index: 10
        height: 100%
        font-weight: 400
        font-size: 1.5em
        flex: 3

        h2
            font-size: 1.5em
        p
            font-size: 0.8em

        a
            font-style: none
            color: $green1
            font-size: 0.7em

            &:hover
                color: $green2
           

    .piece-image
        position: relative
        z-index: 10
        flex: 2
        padding: 10px
        
        .post-feat-img
            display: block
            width: 100%
            height: 100%
            border-radius: 10px
            background: 
                size: cover
                position: center center
                repeat: no-repeat

    .box-tbd-text
        color: $white
        background-color: $green1
        border-radius: 0.8em
        display: flex
        align-content: center
        align-items: center
        justify-content: center
