.writing-main-container
    margin: 0 20%

.card
    position: relative
    width: 100%
    height: 154px
    color: $white
    transition: 0.5s
    cursor: pointer
    margin-bottom: 20px

    &:hover
        transform: translateY(-20px)

    &::before
        content: ""
        width: 100%
        height: 100%
        position: absolute
        top: 0
        left: 0
        background: linear-gradient(45deg, $green2, $blue2)
        border-radius: 1.2em
    
    &::after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(45deg, $green2, $blue2)
        filter: blur(30px)

    .content
        position: relative
        padding: 10px
        z-index: 10
        width: 100%
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        font-weight: 400
        font-size: 1.5em

