<div class="now-container">
    <h1 class="now-title">Hi, I'm Victoria.</h1>
    <h2>
        I'm a Master in City Planning 
        <a href="https://dusp.mit.edu/people/victoria-avis" target="_blank" rel="noopener noreferrer">candidate</a> 
        at MIT's Department of Urban Studies and Planning. 
        <span>
            My work explores international development, political theory, and urban planning in Global South contexts. 
            Learn more about me through my 
            <a href="{{ site.baseurl }}/writing" target="_blank" rel="noopener noreferrer">writing</a>.
        </span>
    </h2>
    <h3>Here's what I'm thinking about these days:</h3>
    <ul class="thinking-things">
        <li>
            <div class="pseudo-list-marker"></div>
            <p>How we might <a href="https://www.youtube.com/watch?v=LZ055ilIiN4" target="_blank" rel="noopener noreferrer">climb a hill</a>.</p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>The ethics of research. Thanks to 
                <a href="https://www.evetuck.com/bio" target="_blank" rel="noopener noreferrer">Eve Tuck</a> and 
                <a href="https://ethnicstudies.ucsd.edu/people/yang.html" target="_blank" rel="noopener noreferrer">K. Wayne Yang</a> for 
                <a href="https://static1.squarespace.com/static/557744ffe4b013bae3b7af63/t/557f2ee5e4b0220eff4ae4b5/1434398437409/Tuck+and+Yang+R+Words_Refusing+Research.pdf" target="_blank" rel="noopener noreferrer">this piece</a>, 
                and thanks to 
                <a href="https://dusp.mit.edu/people/mrinalini-penumaka" target="_blank" rel="noopener noreferrer">Mrin Penumaka</a> for sharing it with me.
            </p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                <a href="https://www.gutenberg.org/files/7142/7142-h/7142-h.htm" target="_blank" rel="noopener noreferrer">Thucydides’</a> account of the Peloponnesian War. How do we feel about 
                <a href="https://www.britannica.com/biography/Alcibiades-Athenian-politician-and-general" target="_blank" rel="noopener noreferrer">Alcibiades</a>? 
            </p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                <a href="https://www.rollingstone.com/politics/political-commentary/trump-elon-musk-deleting-government-agencies-usaid-1235254897/" target="_blank" rel="noopener noreferrer">Elon Musk “deleting” US government agencies.</a>
            </p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                <a href="https://legacysites.eji.org/about/" target="_blank" rel="noopener noreferrer">The Legacy Sites</a>
                in Montgomery, Alabama. I visited for the first time in January, and I know that that trip won’t be my last. I implore you to go. 
            </p>
            <!-- <ul class="sub-table">
                <li>
                    <p>this is a sub list within a bullet point</p>
                </li>
            </ul> -->
        </li>
    </ul>

    <h3>Here's what I'm doing these days:</h3>
    <ul class="doing-things">
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                Listening to 
                <a href="https://99percentinvisible.org/" target="_blank" rel="noopener noreferrer">99% Invisible</a>
                on my walks to campus. 
            </p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                Snowboarding, occasionally. If I did it more frequently, I might get a season pass 
                <a href="https://www.indyskipass.com/" rel="noopener noreferrer" target="_blank">here</a> or 
                <a href="https://www.newenglandpass.com/" rel="noopener noreferrer" target="_blank">here</a>. 
            </p>
        </li>
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                Making fondue. Freshly grated cheese is really the trick. 
            </p>
        </li>
    </ul>
    <div class="quote-container">
        <h3>Quote(s) of the Month*</h3>
        <p>
            Quotes are here for provocation and contemplation, not advice. 
        </p>
    </div>
    <ul class="active-quote">
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                “What has been is what will be, and what has been done is what will be done; 
                there is nothing new under the sun.” (Ecclesiastes 1:9) 
            </p>
        </li>
    </ul>
    <div class="now-explainer">
        <p>
            *A 
            <a href="https://nownownow.com/about" target="_blank" rel="noopener noreferrer">now page</a> 
            is a brief update on what's going on in my life right now, 
            rather than information about me generally.
            I <em>try</em> to update it each month, but sometimes I fall behind. 
            This page was last updated on February 17, 2025.  
        </p>
    </div>
</div>
