{% assign current_entry = site.data.now_present.first %}

<div class="now-container">
    <h1 class="now-title">Hi, I'm Victoria.</h1>
    <div class="intro-materials">
        <h2>
            I am an urban systems strategist who spatializes geopolitical dynamics to advance 
            resilient and equitable infrastructure development across the Global South. 
            <span>
                 I work at the 
                 intersection of urbanization, climate adaptation, 
                 conflict resolution, and global development policy. 
            </span>
               
        </h2>
        <h2>
            <span>With a multiscalar perspective and a strong foundation in civic and 
                infrastructure design, I am interested in how local and 
                global systems connect—and in using policy and planning tools to 
                make those systems work better for people. I have a Master in City 
                Planning from <a href="https://dusp.mit.edu/" target="_blank" rel="noopener noref">MIT DUSP</a>. 
                Before joining DUSP, I worked in the 
                Bureau for Africa at the United States Agency for 
                International Development (USAID).
                Learn more about me through my 
                <a href="{{ site.baseurl }}/writing" target="_blank" rel="noopener noref">writing</a>. 
            </span>
        </h2>
        <h2>
            <span>
                Welcome to my <a href="https://nownownow.com/about" target="_blank" rel="noopener noref">now</a> page, a snapshot of my 
                most current thoughts and activities.
            </span>
        </h2>
    </div>
    
    <h3>Here's what I'm thinking about these days:</h3>
    <ul class="thinking-things">
        {% for bullet in current_entry.thinking %}
        <li>
            <div class="pseudo-list-marker"></div>
            {{ bullet.bullet | markdownify }}
        </li>
        {% endfor %}
    </ul>

    <h3>Here's what I'm doing these days:</h3>
    <ul class="doing-things">
        {% for bullet in current_entry.doing %}
        <li>
            <div class="pseudo-list-marker"></div>
            {{ bullet.bullet | markdownify}}
        </li>
        {% endfor %}
    </ul>
    <!-- <div class="quote-container">
        <h3>Quote(s) that I'm reflecting on:</h3>
        <p>
            Quotes are here for provocation and contemplation, not advice. 
        </p>
    </div> -->
    <!-- <ul class="active-quote">
        {% for quote in current_entry.quoting %}
        <li>
            <div class="pseudo-list-marker"></div>
            {{ quote.quote | markdownify}}{{ quote.source | markdownify }}
        </li>
        {% endfor %}
    </ul> -->

<!-- ARCHIVE SECTION -->

<div class="archive-toggle-container">
        <button class="archive-toggle-btn" onclick="toggleArchives()">
            <span id="toggle-text">Show Archives</span>
        </button>
    </div>

    <div class="archive-content" id="archive-content">
        {% for entry in site.data.now_archives %}
        <br>
        <hr>
        <h1>{{ entry.date }}</h1>
        <br>
    <h3>Here's what I'm thinking about these days:</h3>
    <ul class="thinking-things">
        {% for bullet in entry.thinking %}
        <li>
            <div class="pseudo-list-marker"></div>
            {{ bullet.bullet | markdownify }}
        </li>
        {% endfor %}
    </ul>

    <h3>Here's what I'm doing these days:</h3>
    <ul class="doing-things">
        {% for bullet in entry.doing %}
        <li>
            <div class="pseudo-list-marker"></div>
                {{ bullet.bullet | markdownify }}
        </li>
        {% endfor %}
    </ul>
    <div class="quote-container">
        <h3>Quote(s) that I'm reflecting on:</h3>
        <p>
            Quotes are here for provocation and contemplation, not advice. 
        </p>
    </div>
    <ul class="active-quote">
        {% for quote in entry.quoting %}
        <li>
            <div class="pseudo-list-marker"></div>
            <p>
                {{ quote.quote }} ({{ quote.source }})
            </p>
        </li>
        {% endfor %}
    </ul>
        {% endfor %}
    </div>
</div>
