<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
<title>{{ site.title }}</title>
<!-- <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico"> -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/assets/css/style.css"> 

<!-- Footer Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- MathJax -->
<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>

<!-- Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-23315KL6P0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  
  gtag('config', 'G-23315KL6P0');
</script>

<!-- Custom JS Functions -->
<script src="{{ site.baseurl }}/assets/js/functions.js"></script>

<!-- JQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>

