<div class="world-map">
  <img src="/assets/img/worldmap_centered5.svg" alt="map">
<a href="{{ site.baseurl }}/cv/#MIT" class="cambridge-link">
  <div class="pin cambridge">
    <span>Cambridge, MA, USA</span>
  </div>
</a>
<a href="{{ site.baseurl }}/cv/#USAID">  
<div class="pin dc">
    <span>Washington, DC, USA</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/cv/#AWARDS">
  <div class="pin dakar left-bubble">
    <span>Dakar, Senegal</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/writing/">
  <div class="pin cdmx">
    <span>Mexico City, Mexico</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/writing/">
  <div class="pin ukraine">
    <span>Sviatohirsk, Ukraine</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/cv/#GABON">
  <div class="pin gabon left-bubble">
    <span>Libreville, Gabon</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/cv/#DRC">
  <div class="pin drc left-bubble">
    <span>Kinshasha, DRC</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/cv/#ANGONET">
  <div class="pin lakes">
    <span>Great Lakes Region</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/cv/#USAID">
  <div class="pin mashariki">
    <span>Horn of Africa</span>
  </div>
</a>
  <a href="{{ site.baseurl }}/writing/">
  <div class="pin accra left-bubble">
    <span>Accra, Ghana</span>
  </div>
</a>
<a href="{{ site.baseurl }}/cv/#ORANGE" class="rotterdam-link">
  <div class="pin rotterdam">
    <span>Rotterdam, Netherlands</span>
  </div>
</a>
</div>
<div class="title">
  <h2>{{ site.title }}</h2>
</div>
