<nav class="nav-wrap-lander">
    <ul class="navigation">
        <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}active{% endif %}">home</a></li>
        <li><a href="{{ site.baseurl }}/now/" class="{% if page.url == '/now/' %}active{% endif %}">now</a></li>
        <li><a href="{{ site.baseurl }}/writing/" class="{% if page.url == '/blog/' %}active{% endif %}">writing</a></li>
        <!-- <li><a href="{{ site.baseurl }}/portfolio/" class="{% if page.url == '/portfolio/' %}active{% endif %}">portfolio</a></li> -->
        <li><a href="{{ site.baseurl }}/cv/" class="{% if page.url == '/cv/' %}active{% endif %}">cv</a></li>
    </ul>
  </nav>