<div class="cv-container">
    <div class="info-storage">
        <ul class="cv-categories">
            <li class="section-title">
                <h1>Education</h1>
                <ul class="education-entries">
                    <li>
                        <div class="line-circle mit-target"></div>
                        <h2>Massachusetts Institute of Technology <span>| Department of Urban Studies & Planning</span></h2>
                        <h4>Master of City Planning Candidate, International Development Group</h4>
                        <p>Research Assistant to Bish Sanyal, PhD</p>
                        <p>Research Assistant to David Gamble, AIA AICP</p>
                    </li>
                    <li>
                        <h2>The George Washington University <span>| Elliott School of International Affairs</span></h2>
                        <h4>B.A. in International Affairs, Minor in Applied Ethics</h4>
                        <p>Concentrations in Conflict Resolution & Sub-Saharan African Geopolitics</p>
                        <p>University Honors Program Graduate</p>
                    </li>
                </ul>
            </li>
            <li>
                <h1 class="section-title">Experience</h1>
            </li>
            <li>
                <h1 class="section-title">Official Diplomatic Travel</h1>
            </li>
            <li>
                <h1 class="section-title">Awards</h1>
            </li>
            <li>
                <h1 class="section-title">Leadership & Service</h1>
            </li>
            <li>
                <h1 class="section-title comp-target">Competencies</h1>
            </li>

        </ul>
    </div>
</div>