<div class="writing-main-container">
    <div class="column c1">
        <div class="card shape1">
            <div class="piece-image">
                <a href="https://siltmagazine.cargo.site/archive" rel="noopener noreferrer" target = "_blank" class="post-feat-img" style="background-image: url('{{ site.baseurl }}{{ site.pathToImgBin }}silt.jpeg');"></a>
            </div>
            <div class="piece-text">
                <h2>SILT</h2>
                <p>A description of the poem that you want to add here</p>
                <a href="https://siltmagazine.cargo.site/archive" rel="noopener noreferrer" target = "_blank">Read Here</a>
            </div>
        </div>
    </div>
    <div class="column c2">
        <div class="card shape1 box-tbd">
            <div class="piece-text box-tbd-text">
                More coming soon!
            </div>
        </div>
    </div>
    <div class="column c3">
    </div>
</div>
