<div class="writing-main-container">
    <div class="title-container">
        <h2>Selected Work</h2>
    </div>
    <div class="card-container">
        <div class="card">
            <div class="card-headlines">
                <div>
                    <h2>Title</h2>
                </div>
                <div>
                    <h4>subheader</h4>
                </div>
            </div>
            <div class="card-details">
                <div>
                    <p>Details describing the writing piece</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-details">
                <p>More coming soon . . . </p>
            </div>
        </div>
    </div>
</div>
