<div class="writing-main-container">
    <div class="column c1">
        <div class="card shape1">
            <div class="piece-text">
                placeholder
            </div>
        </div>
    </div>
    <div class="column c2">
        <div class="card shape2">
            <div class="piece-text">
                placeholder
            </div>
        </div>
        <div class="card shape2">
            <div class="piece-text">
                placeholder
            </div>
        </div>
    </div>
    <div class="column c3">
        <div class="card shape3">
            <div class="piece-text">
                placeholder
            </div>
        </div>
    </div>
</div>
